@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Organize your work and life</h1>
    <p>Become focused, organized, and calm with TodoList.</p>
   
</div>
